################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sam LineUp/.vs/LineUpV3
/Sam LineUp/bin/Debug/net8.0
/Sam LineUp/obj
*.bin
/.vs/ifn584/FileContentIndex
/.vs
/saves
